DATABASE_URL=postgresql://postgres:postgres@localhost:5432/crrae_crm
JWT_SECRET=change_me
PORT=3001

EMAIL_HOST=ssl0.ovh.net
EMAIL_PORT=465
EMAIL_USER=support@relationclient-crrae.org
EMAIL_PASS=change_me
EMAIL_FROM=support@relationclient-crrae.org
